<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Fake Flix </title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet"href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet"href="{{ url_for('static', filename='loggedin_home.css') }}">
  </head>

  <body>
    <header>

      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            
            <strong>FakeFlix</strong>
          </a>
         
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">FakeFlix</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>

        </div>
        <br>
          <form class="well form-search" id="search-by-title-form" action="/SearchedMovies" method="post">
                        
                        <div>
                            <label class="control-label" >Title:</label>
                            <input type="text"  name="t" class="input-small">

                            <label class="control-label" >Year:</label>
                            <input type="text"  name="t" class="input-small">
                            <!--<label class="control-label" for="y">Year:</label>-->
                            <!--<input type="text" id="y" name="y" class="input-small" style="width: 100px;">-->

                          <!--<button id="search-by-title-reset" type="reset" class="btn-sm">Reset</button>-->

                          <input id="search-by-title-button" name="movie_search " type="submit" class="btn-sm btn-primary">

                        </div>
                        <div>

                          <select name = 'filter'>
                             <option value="NTO">Newest to Oldest </option>
                             <option value="OTN">Oldest to Newest </option>

                          </select>

                        </div>
                        
          </form>
          
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <!--insert some image i want-->
<!--                <img class="card-img-top" data-src="https://m.media-amazon.com/images/M/MV5BMTc4ODc4NTQ1N15BMl5BanBnXkFtZTcwNDUxODUyMw@@._V1_SX300.jpg" alt="Card image cap">-->
                   <img src = {{movies['Search'][0]['Poster']}}></img>
                
                  <div class="card-body">
                  
                  <div class="d-flex justify-content-center align-items-center">
                    
                    <div class="btn-group">
                      
                      <button type="button" class="btn btn-sm btn-outline-secondary">Learn more</button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

              
              <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <!--insert some image i want-->
<!--                <img class="card-img-top" data-src="https://m.media-amazon.com/images/M/MV5BMTc4ODc4NTQ1N15BMl5BanBnXkFtZTcwNDUxODUyMw@@._V1_SX300.jpg" alt="Card image cap">-->
                   <img src = {{movies['Search'][1]['Poster']}}></img>
                
                  <div class="card-body">
                  
                  <div class="d-flex justify-content-center align-items-center">
                    
                    <div class="btn-group">
                      
                      <button type="button" class="btn btn-sm btn-outline-secondary">Learn more</button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
              <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <!--insert some image i want-->
<!--                <img class="card-img-top" data-src="https://m.media-amazon.com/images/M/MV5BMTc4ODc4NTQ1N15BMl5BanBnXkFtZTcwNDUxODUyMw@@._V1_SX300.jpg" alt="Card image cap">-->
                   <img src = {{movies['Search'][2]['Poster']}}></img>
                
                  <div class="card-body">
                  
                  <div class="d-flex justify-content-center align-items-center">
                    
                    <div class="btn-group">
                      
                      <button type="button" class="btn btn-sm btn-outline-secondary">Learn more</button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
              <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <!--insert some image i want-->
<!--                <img class="card-img-top" data-src="https://m.media-amazon.com/images/M/MV5BMTc4ODc4NTQ1N15BMl5BanBnXkFtZTcwNDUxODUyMw@@._V1_SX300.jpg" alt="Card image cap">-->
                  <img src = {{movies['Search'][3]['Poster']}}></img>
                
                  <div class="card-body">
                  
                  <div class="d-flex justify-content-center align-items-center">
                    
                    <div class="btn-group">
                      
                      <button type="button" class="btn btn-sm btn-outline-secondary">Learn more</button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
              <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <!--insert some image i want-->
<!--                <img class="card-img-top" data-src="https://m.media-amazon.com/images/M/MV5BMTc4ODc4NTQ1N15BMl5BanBnXkFtZTcwNDUxODUyMw@@._V1_SX300.jpg" alt="Card image cap">-->
                   <img src = {{movies['Search'][4]['Poster']}}></img>
                
                  <div class="card-body">
                  
                  <div class="d-flex justify-content-center align-items-center">
                    
                    <div class="btn-group">
                      
                      <button type="button" class="btn btn-sm btn-outline-secondary">Learn more</button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
              <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <!--insert some image i want-->
<!--                <img class="card-img-top" data-src="https://m.media-amazon.com/images/M/MV5BMTc4ODc4NTQ1N15BMl5BanBnXkFtZTcwNDUxODUyMw@@._V1_SX300.jpg" alt="Card image cap">-->
                   <img src = {{movies['Search'][5]['Poster']}}></img>
                
                  <div class="card-body">
                  
                  <div class="d-flex justify-content-center align-items-center">
                    
                    <div class="btn-group">
                      
                      <button type="button" class="btn btn-sm btn-outline-secondary">Learn more</button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
              <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <!--insert some image i want-->
<!--                <img class="card-img-top" data-src="https://m.media-amazon.com/images/M/MV5BMTc4ODc4NTQ1N15BMl5BanBnXkFtZTcwNDUxODUyMw@@._V1_SX300.jpg" alt="Card image cap">-->
                   <img src = {{movies['Search'][6]['Poster']}}></img>

                  <div class="card-body">

                  <div class="d-flex justify-content-center align-items-center">

                    <div class="btn-group">

                      <button type="button" class="btn btn-sm btn-outline-secondary">Learn more</button>

                    </div>

                  </div>
                </div>
              </div>
            </div>
              <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <!--insert some image i want-->
<!--                <img class="card-img-top" data-src="https://m.media-amazon.com/images/M/MV5BMTc4ODc4NTQ1N15BMl5BanBnXkFtZTcwNDUxODUyMw@@._V1_SX300.jpg" alt="Card image cap">-->
                   <img src = {{movies['Search'][7]['Poster']}}></img>

                  <div class="card-body">

                  <div class="d-flex justify-content-center align-items-center">

                    <div class="btn-group">

                      <button type="button" class="btn btn-sm btn-outline-secondary">Learn more</button>

                    </div>

                  </div>
                </div>
              </div>
            </div>
              <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <!--insert some image i want-->
<!--                <img class="card-img-top" data-src="https://m.media-amazon.com/images/M/MV5BMTc4ODc4NTQ1N15BMl5BanBnXkFtZTcwNDUxODUyMw@@._V1_SX300.jpg" alt="Card image cap">-->
                   <img src = {{movies['Search'][8]['Poster']}}></img>

                  <div class="card-body">

                  <div class="d-flex justify-content-center align-items-center">

                    <div class="btn-group">

                      <button type="button" class="btn btn-sm btn-outline-secondary">Learn more</button>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
    <!--<script src="../../../../assets/js/vendor/popper.min.js"></script>-->
    <!--<script src="../../../../dist/js/bootstrap.min.js"></script>-->
    <!--<script src="../../../../assets/js/vendor/holder.min.js"></script>-->
  </body>
</html>
